@model WebApplication1.Models.RNG
<h2>PassUsingModel</h2>

<p>Rand value first: @Model.value1</p>
<p>Rand value second: @Model.value2</p>
<p>Add:</p>
<p>@Model.value1 + @Model.value2 = @Model.plus</p>
<p>Sub:</p>
<p>@Model.value1 - @Model.value2 = @Model.minus</p>
<p>Mult:</p>
<p>@Model.value1 * @Model.value2 = @Model.multiply</p>
<p>Div:</p>
<p>@Model.value1 / @Model.value2 = @Model.divide</p>