<h2>PassUsingViewBag</h2>

<p>Rand value first: @ViewBag.rng.value1</p>
<p>Rand value second: @ViewBag.rng.value2</p>
<p>Add:</p>
<p>@ViewBag.rng.value1 + @ViewBag.rng.value2 = @ViewBag.rng.plus</p>
<p>Sub:</p>
<p>@ViewBag.rng.value1 - @ViewBag.rng.value2 = @ViewBag.rng.minus</p>
<p>Mult:</p>
<p>@ViewBag.rng.value1 * @ViewBag.rng.value2 = @ViewBag.rng.multiply</p>
<p>Div:</p>
<p>@ViewBag.rng.value1 / @ViewBag.rng.value2 = @ViewBag.rng.divide</p>